# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                                    @MetaMask/core-platform
src/images/*                         @MetaMask/core-platform @Montoya
src/registry.json                    @MetaMask/core-platform @Montoya
