# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                                    @MetaMask/snaps-devs
src/images/*                         @MetaMask/snaps-devs @Montoya
src/registry.json                    @MetaMask/snaps-devs @Montoya
